[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[dev-packages]

ipython = "*"


[requires]

# NOTE: need to keep in sync w/ .travis.yml
python_version = "3.7"


[packages]

pelican = "*"
mistune = "*"
ghp-import = "*"
"jinja2" = "*"
markdown = "*"
python-slugify = "*"
"beautifulsoup4" = "*"
pelican-alias = "*"
backcall = "*"
