<footer class="post-info">
        {% if article.author %}
        <address class="vcard author">
            posted by
            <a href="{{ SITEURL }}/pages/about.html">{{ article.author }}</a>
            on <abbr class="published" title="{{ article.date_iso }}">{{ article.date_display }}</abbr>
            <a class="edit-article" href="https://github.com/eliasdorneles/eliasdorneles.github.io/edit/source/{{ rel_source_path }}">Edit</a>
        </address>
        {% endif %}
{% include "translations.html" %}
</footer>
