<!DOCTYPE html>
<html lang="en">
<head>
        <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
        <link rel="shortcut icon" href="/images/favicon.ico">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css" type="text/css" />
<script>
var host = "eliasdorneles.github.io";
if (window.location.host == host && window.location.protocol != "https:") {
  window.location.protocol = "https:";
}
</script>
<script defer data-domain="eliasdorneles.com" src="https://plausible.io/js/script.js"></script>
</head>

<body>
    <a name="top"></a>

<div class="site-container">
        {% block header %}
        <header id="banner" class="body">
                <h1><a href="{{ SITEURL }}/index.html">{{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a></h1>
                <nav><ul>
                {% for it in MENUITEMS %}
                    <li {% if page is defined and it.url == page.url %} class="active" {% endif %}>
                        <a href="{{ SITEURL }}/{{ it.url }}">{{ it.title }}</a>
                    </li>
                {% endfor %}
                </ul></nav>
        </header><!-- /#banner -->
        {% endblock %}

        {% block content %}
        {% endblock %}

        <hr />
        <footer class="footer-menu">
            <a href="#top">Back to the top</a>
        </footer>
</div>

<link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.11.1/styles/default.min.css">
<script src="https://unpkg.com/@highlightjs/cdn-assets@11.11.1/highlight.min.js"></script>

<script>hljs.highlightAll();</script>
</body>
</html>
